.question {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow:0 2px 12px rgba(0,0,0,0.04);
    padding: 24px;

    p {
        color: #29292e;
    }

    /*
        & + .question = .question + .question
                    ou seja
        quando tiver uma question depois de uma question vai ser aplicado um margin top
        isso so será executado na 2 pergunta por que na primeira não terá outra question depois.
    */
    & + .question {
        margin-top:8px;
    }

    &.highlighted{
        background-color: #F4F0FF;
        border:1px solid #835afd;
    }

    &.answared{
        background-color:#DBDCDD;
    }
    &.themeDark{
        background-color: #b3b3b3;
        
        span {
            color: #2d2d2f!important;
        }
        
        &.highlighted{
            background-color: #ccd4dc;
            border: 3px solid #835afd;
        }
        &.answared{
            background-color:#636567;
        }
    }

    .questionAnswared{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            background-color: #0fde0f;
            padding: 10px;
            border-radius: 5555555px;
            color: white;
            font-size: 14px;
            font-family: 'Poppins';
            font-weight: 500;
        }
    }

    footer {
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-top:24px;

        .user-info {
            display:flex;
            align-items:center;

            img {
                width:32px;
                height:32px;
                border-radius: 50%;
            }

            span {
                margin-left: 8px;
                color: #737380;
                font-size:14px;
            }
        }

        > div {
            display: flex;
            gap: 16px;
        }
        button {
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: filter 0.2;

            &.like-button{
                display:flex;
                align-items:flex-end;
                color: #737380;
                gap: 8px;

                &.liked {
                    color: #835afd;

                    svg path{
                        stroke: #835afd;
                    }
                }

            }

            &:hover{
                filter:brightness(0.7);
            }
        }
    }
   
}